In [1]:
# ------------------------- 03.05.2025 -----------------------------

OPTION = {'N':'n-DA-1.9',
  'sub-weights' :   [+0.250,+0.150,-0.070,-0.130,-0.200],        # Lb=
  'Sort' : "asc/desc",
  'asc_desc_weight': { "A":0.55, "D":0.45 },
  'SOLUTIONs': [
    { f'Solution': 'SOLUTION_1', f'weight':0.21, f'Lb':'0_05684' },
    { f'Solution': 'SOLUTION_2', f'weight':0.20, f'Lb':'0_05692' },
    { f'Solution': 'SOLUTION_3', f'weight':0.19, f'Lb':'0_05692' },
    { f'Solution': 'SOLUTION_7', f'weight':0.17, f'Lb':'0_05703' },
    { f'Solution': 'SOLUTION_13',f'weight':0.23, f'Lb':'0_05672' },
  ]
}
# OPTION = {'N':'n-DA-1.8',
#   'sub-weights' :   [+0.10,-0.10],                               # Lb=0.05672, v8
#   'Sort' : "asc/desc",
#   'asc_desc_weight': { "A":0.30, "D":0.70 },
#   'SOLUTIONs': [
#     { f'Solution': 'SOLUTION_7',  f'weight':0.20, f'Lb':'0_05703' },
#     { f'Solution': 'SOLUTION_13', f'weight':0.80, f'Lb':'0_05672' },
#   ]
# }
# OPTION = {'N':'n-DA-1.7',
#   'sub-weights' :   [+0.20,-0.20],                               # Lb=0.05672, v.7
#   'Sort' : "asc/desc",
#   'asc_desc_weight': { "A":0.50, "D":0.50 },
#   'SOLUTIONs': [
#     { f'Solution': 'SOLUTION_7',  f'weight':0.30, f'Lb':'0_05703' },
#     { f'Solution': 'SOLUTION_13', f'weight':0.70, f'Lb':'0_05672' },
#   ]
# }
# OPTION = {'N':'n-DA-1.5',
#   'sub-weights' :   [+0.50,-0.50],                               # Lb=0.05677, v.5
#   'Sort' : "asc/desc",
#   'asc_desc_weight': { "A":0.50, "D":0.50 },
#   'SOLUTIONs': [
#     { f'Solution': 'SOLUTION_7',  f'weight':0.50, f'Lb':'0_05703' },
#     { f'Solution': 'SOLUTION_13', f'weight':0.50, f'Lb':'0_05672' },
#   ]
# }

# ------------------------- 01.05.2025 -----------------------------

# OPTION = {'N':'n-DA-1.4',
#   'sub-weights' :   [+0.250,+0.150,-0.070,-0.130,-0.200],        # Lb=0.05672, v.4
#   'Sort' : "asc/desc",
#   'asc_desc_weight': { "A":0.55, "D":0.45 },
#   'SOLUTIONs': [
#     { f'Solution': 'SOLUTION_1', f'weight':0.22, f'Lb':'0_05684' },
#     { f'Solution': 'SOLUTION_2', f'weight':0.21, f'Lb':'0_05692' },
#     { f'Solution': 'SOLUTION_3', f'weight':0.20, f'Lb':'0_05692' },
#     { f'Solution': 'SOLUTION_4', f'weight':0.19, f'Lb':'0_05695' },
#     { f'Solution': 'SOLUTION_5', f'weight':0.18, f'Lb':'0_05702' },
#   ]
# }

#    1.1 < 1.3 < 1.2

# OPTION = {'N':'n-DA-1.3',
#   'sub-weights' :   [+0.200,+0.100,-0.050,-0.100,-0.150],        # Lb=0.05672 
#   'Sort' : "asc/desc",
#   'asc_desc_weight': { "A":0.70, "D":0.30 },
#   'SOLUTIONs': [
#     { f'Solution': 'SOLUTION_1', f'weight':0.20, f'Lb':'0_05684' },
#     { f'Solution': 'SOLUTION_2', f'weight':0.20, f'Lb':'0_05692' },
#     { f'Solution': 'SOLUTION_3', f'weight':0.20, f'Lb':'0_05692' },
#     { f'Solution': 'SOLUTION_4', f'weight':0.20, f'Lb':'0_05695' },
#     { f'Solution': 'SOLUTION_5', f'weight':0.20, f'Lb':'0_05702' },
#   ]
# }
# OPTION = {'N':'n-DA-1.2',
#   'sub-weights' :   [+0.300,+0.150,-0.050,-0.150,-0.250],        # Lb=0.05672 
#   'Sort' : "asc/desc",
#   'asc_desc_weight': { "A":0.60, "D":0.40 },
#   'SOLUTIONs': [
#     { f'Solution': 'SOLUTION_1', f'weight':0.20, f'Lb':'0_05684' },
#     { f'Solution': 'SOLUTION_2', f'weight':0.20, f'Lb':'0_05692' },
#     { f'Solution': 'SOLUTION_3', f'weight':0.20, f'Lb':'0_05692' },
#     { f'Solution': 'SOLUTION_4', f'weight':0.20, f'Lb':'0_05695' },
#     { f'Solution': 'SOLUTION_5', f'weight':0.20, f'Lb':'0_05702' },
#   ]
# }
# OPTION = {'N':'n-DA-1.1',
#   'sub-weights' :   [+0.300,+0.150,-0.050,-0.150,-0.250],        # Lb=0.05672
#   'Sort' : "asc/desc",
#   'asc_desc_weight': { "A":0.50, "D":0.50 },
#   'SOLUTIONs': [
#     { f'Solution': 'SOLUTION_1', f'weight':0.20, f'Lb':'0_05684' },
#     { f'Solution': 'SOLUTION_2', f'weight':0.20, f'Lb':'0_05692' },
#     { f'Solution': 'SOLUTION_3', f'weight':0.20, f'Lb':'0_05692' },
#     { f'Solution': 'SOLUTION_4', f'weight':0.20, f'Lb':'0_05695' },
#     { f'Solution': 'SOLUTION_5', f'weight':0.20, f'Lb':'0_05702' },
#   ]
# }

In [2]:
# Setup

def f_convert(OPTION):
    OP    = OPTION['N']
    LB    = [e['Lb']        for e in OPTION['SOLUTIONs']]
    ES    = [e['Solution']  for e in OPTION['SOLUTIONs']]
    WTS   = [e['weight']    for e in OPTION['SOLUTIONs']]
    s_wts = OPTION['sub-weights'] if "sub-weights"   in OPTION else []
    SORT  = OPTION['Sort'] if 'Sort' in OPTION else ""
    FS    = ['subm_'  + e.split('_')[1] + '.csv' for e in ES]
    return OP, LB, ES, FS, WTS, s_wts, SORT


import matplotlib.pyplot as plt
import pandas as pd


def select_f_ensemble(OPTION):

    N_OPTION, LB, ENSEMBLE_SOLUTIONS, FILES_SUBM, WEIGHTS, sub_WEIGHTS, SORT = f_convert(OPTION)

    __target = 'Calories'
    
    def visual_distribution_target(df, target):
        plt.figure(figsize=(5, 2))
        cmap = ["Silver","Navy","Black","Crimson","#777abc"]
        df[target].plot(color=cmap[0], linewidth=0.1, title=f"{target} Distribution")
        plt.axhline(df[target].mean(), c="w", ls="-", lw=2.5)
        plt.show()
    
    def EoS_N(lbs        = LB,
              solution   = ENSEMBLE_SOLUTIONS,
              weights    = WEIGHTS,
              files_subm = FILES_SUBM,
              option     = OPTION):
        def f_ensemble(df,cols,wts):
            return sum([df[cols[i]]*wts[i] for i in range(len(wts))])
        suffix = 's'
        soluts = [solut.replace("SOLUTION_","").replace(suffix,'') for solut in solution]
        target = 'Calories'
        list_df = [pd.read_csv(files_subm[i]) for i in range(len(FILES_SUBM))]
        targets = target.replace('Calories',"m")
        for i in range(len(FILES_SUBM)): 
            list_df[i] = list_df[i].rename(columns={target:f'{soluts[i]}'})                    
        dfs = pd.merge(list_df[0], list_df[1], on=['id'])
        for i in range(2,len(FILES_SUBM)): 
            dfs = pd.merge(dfs,list_df[i],on=['id'])
        cols = [f'{soluts[i]}' for i in range(len(FILES_SUBM))]
        dfs[target] = dfs.apply(lambda x:f_ensemble(x,cols,weights), axis=1)
        #print(f'\nLB: {lbs}  \n\nweights: {weights}\n')
        dfs = dfs.rename(columns = {'Calories': "Ensemble"})
        dfs.insert(loc=1, column=' _ ', value=['   ']*250_000)
        dfs[' _ '] = dfs[' _ '].astype(str)
        nr = 51; pd.set_option('display.max_rows', nr);
        pd.set_option('display.float_format', '{:.2f}'.format)
        display(dfs.head(nr))
        pd.set_option('display.float_format', '{:.7f}'.format)
        dfs = dfs.rename(columns = {"Ensemble":'Calories'})
        return dfs


    def EoS_MD(lbs        = LB,
               solution   = ENSEMBLE_SOLUTIONS,
               weights    = WEIGHTS,
               files_subm = FILES_SUBM,
               option     = OPTION):

        from statistics import median

        def f_ensembleMD(df,cols):
            return median([df[col] for col in cols])
         
        suffix = 's'
        soluts = [solut.replace("SOLUTION_","").replace(suffix,'') for solut in solution]
        target = 'Calories'
        list_df = [pd.read_csv(files_subm[i]) for i in range(len(FILES_SUBM))]
        targets = target.replace('Calories',"m")
        for i in range(len(FILES_SUBM)): 
            list_df[i] = list_df[i].rename(columns={target:f'{soluts[i]}'})                    
        dfs = pd.merge(list_df[0], list_df[1], on=['id'])
        for i in range(2,len(FILES_SUBM)): 
            dfs = pd.merge(dfs,list_df[i],on=['id'])
        cols = [f'{soluts[i]}' for i in range(len(FILES_SUBM))]
        dfs[target] = dfs.apply(lambda x:f_ensembleMD(x,cols), axis=1)
        #print(f'\nLB: {lbs}  \n\nweights: {weights}\n')
        dfs = dfs.rename(columns = {'Calories': "Ensemble"})
        dfs.insert(loc=1, column=' _ ', value=['   ']*250_000)
        dfs[' _ '] = dfs[' _ '].astype(str)
        nr = 11; pd.set_option('display.max_rows', nr);
        pd.set_option('display.float_format', '{:.2f}'.format)
        display(dfs.head(nr))
        pd.set_option('display.float_format', '{:.7f}'.format)
        dfs = dfs.rename(columns = {"Ensemble":'Calories'})
        return dfs
    
    
    def EoS_DA(lbs         = LB,
               solution    = ENSEMBLE_SOLUTIONS,
               weights     = WEIGHTS,
               sub_weights = sub_WEIGHTS,
               sort        = SORT,
               files_subm  = FILES_SUBM,
               option      = OPTION):
        def read_subm(path): 
            return pd.read_csv(path).rename(
                columns={__target: path.replace('.csv',''),'target': path.replace('.csv','')})                                         
        df_subm = [read_subm(files_subm[i]) for i in range(len(files_subm))]
        df_subm_s = pd.merge(df_subm[0], df_subm[1], on=['id'])
        for i in range(2,len(files_subm)): df_subm_s = pd.merge(df_subm_s,df_subm[i],on=['id'])
        cols = [col for col in df_subm_s.columns if col != "id"]
        prefix,target = "subm_",__target
        short_name_cols = [c.replace(prefix,'') for c in cols]
        correct_scales  = [w for w in sub_WEIGHTS]
        def alls(x, cs=cols, p=prefix,sort=sort):
            tes={c:x[c] for c in cs}.items()
            all_soluts_sorted = [
                t[0].replace(p,'') 
                for t in sorted(tes, key=lambda _:_[1],reverse=True if sort=='descending' else False)]
            return all_soluts_sorted
        def two_weights(x,p=prefix,cs=cols,W=weights,sncs=short_name_cols,cw=correct_scales):
            ic = [x['alls'].index(c) for c in sncs]
            cS  = [x[cols[ii]]*(W[ii]+cw[ic[ii]]) for ii in range(len(cols))]
            return sum(cS)
        df_subm_s['alls']   = df_subm_s.apply(lambda x: alls(x),          axis=1)
        df_subm_s[__target] = df_subm_s.apply(lambda x: two_weights(x),   axis=1)
        soluts = [solut.replace("SOLUTION_","") for solut in solution]
        #print(f'\nLB: {lbs}  \n\nweights: {weights} \n\nsub-weights: {sub_weights}\n')
        schema_rename = {
            old_name_cols : new_short_name_cols 
            for old_name_cols, new_short_name_cols in zip(cols, short_name_cols)}
        dfs = df_subm_s
        dfs = dfs.rename(columns = schema_rename)
        dfs = dfs.rename(columns = {'Calories': "Ensemble"})
        dfs.insert(loc=1, column=' _ ', value=['   ']*250_000)
        dfs[' _ '] = dfs[' _ '].astype(str)
        nr = 11; pd.set_option('display.max_rows', nr);
        pd.set_option('display.float_format', '{:.2f}'.format)

        vcols = ['id'] + ['alls'] + ['Ensemble']

        vcols = ['id'] + [' _ '] + short_name_cols + [' _ '] + ['alls'] + [' _ '] + ['Ensemble']
        
        dfs = dfs[vcols]
        display(dfs.head(nr))
        pd.set_option('display.float_format', '{:.7f}'.format)
        dfs = dfs.rename(columns = {"Ensemble":'Calories'})
        return dfs


    if OPTION['sub-weights']=="median":
        f_ensemble = EoS_MD
        print('\n', f_ensemble, f' median..')
    
    else:
        f_ensemble = EoS_DA if "Sort" in OPTION else EoS_N
        print('\n', f_ensemble, f' sort={SORT}')

    return OPTION, f_ensemble


def ensemble_DA(OPTION, N, type_sort):
    option = OPTION
    option['Sort'] = type_sort
    OPTION, f_ensemble = select_f_ensemble(option)
    dfs  =  f_ensemble()
    subm =  dfs [['id','Calories']]
    subm.to_csv(f'Datt_{N}.csv', index=False) 
    return subm

In [3]:
# Fast EoS

import pandas as pd

ENSEMBLE_SOLUTIONS  = [e['Solution'] for e in OPTION['SOLUTIONs']]

print(ENSEMBLE_SOLUTIONS)

def upload_subm(solut, subm_LB):
    if solut.split('__')[0] in ENSEMBLE_SOLUTIONS:
        FiN_in_DS ='/' + solut + '__submission__' + subm_LB
        print(FiN_in_DS)
        subm = pd.read_csv(path + FiN_in_DS)
        copiesFiN = solut.replace('SOLUTION', 'subm').split('__')[0]; copiesFiN += ('.csv')
        subm.to_csv(copiesFiN, index=False)

path = '/kaggle/input/ps-s5e5-colries-public-submissions'

upload_subm('SOLUTION_1__Andrew_Naymushin', f'0_05684.csv')
upload_subm('SOLUTION_2__Mahdi_Ravaghi',    f'0_05692.csv')
upload_subm('SOLUTION_3__yoyololo_ver_4',   f'0_05692.csv')
upload_subm('SOLUTION_4__invisible',        f'0_05695.csv')
upload_subm('SOLUTION_5__invisible',        f'0_05702.csv')

upload_subm('SOLUTION_7__Mahdi_Ravaghi',    f'0_05703.csv')
upload_subm('SOLUTION_13__invisible',       f'0_05672.csv')

['SOLUTION_1', 'SOLUTION_2', 'SOLUTION_3', 'SOLUTION_7', 'SOLUTION_13']
/SOLUTION_1__Andrew_Naymushin__submission__0_05684.csv
/SOLUTION_2__Mahdi_Ravaghi__submission__0_05692.csv
/SOLUTION_3__yoyololo_ver_4__submission__0_05692.csv
/SOLUTION_7__Mahdi_Ravaghi__submission__0_05703.csv
/SOLUTION_13__invisible__submission__0_05672.csv

In [4]:
subm_1 = ensemble_DA(OPTION,'1', 'ascending')
subm_2 = ensemble_DA(OPTION,'2','descending')

subm   = pd.read_csv("/kaggle/input/playground-series-s5e5/sample_submission.csv")

weight = OPTION['asc_desc_weight']
    
subm['Calories']= weight["A"] * subm_1['Calories']+\
                  weight["D"] * subm_2['Calories'] 

print(f'\n weight: [ascending + descending] = [{weight["A"]} + {weight["D"]}] \n')


subm.to_csv('submission.csv', index=False)
subm.head(11)

 <function select_f_ensemble.<locals>.EoS_DA at 0x7f764ee55c60>  sort=ascending

,id,_,1,2,3,7,13,_,alls,_,Ensemble
0,750000,,27.43,27.27,27.44,27.19,27.46,,"[7, 2, 1, 3, 13]",,27.27
1,750001,,107.84,107.92,107.63,107.92,107.71,,"[3, 13, 1, 7, 2]",,107.70
2,750002,,88.01,87.27,87.36,87.15,87.55,,"[7, 2, 3, 13, 1]",,87.26
3,750003,,126.20,125.65,126.36,126.01,126.08,,"[2, 7, 13, 1, 3]",,125.87
4,750004,,75.85,76.15,76.00,76.04,75.93,,"[1, 13, 3, 7, 2]",,75.91
5,750005,,21.82,21.70,21.79,21.70,21.78,,"[7, 2, 13, 3, 1]",,21.72
6,750006,,47.74,48.79,47.87,48.49,48.06,,"[1, 3, 13, 7, 2]",,47.87
7,750007,,6.80,6.79,6.78,6.81,6.79,,"[3, 2, 13, 1, 7]",,6.79
8,750008,,9.96,10.04,9.96,9.93,9.94,,"[7, 13, 3, 1, 2]",,9.94
9,750009,,205.59,204.33,205.54,204.81,205.30,,"[2, 7, 13, 3, 1]",,204.73
10,750010,,76.17,76.28,75.95,76.65,76.32,,"[3, 1, 2, 13, 7]",,76.09

 <function select_f_ensemble.<locals>.EoS_DA at 0x7f764ee55bc0>  sort=descending

,id,_,1,2,3,7,13,_,alls,_,Ensemble
0,750000,,27.43,27.27,27.44,27.19,27.46,,"[13, 3, 1, 2, 7]",,27.44
1,750001,,107.84,107.92,107.63,107.92,107.71,,"[2, 7, 1, 13, 3]",,107.89
2,750002,,88.01,87.27,87.36,87.15,87.55,,"[1, 13, 3, 2, 7]",,87.73
3,750003,,126.20,125.65,126.36,126.01,126.08,,"[3, 1, 13, 7, 2]",,126.25
4,750004,,75.85,76.15,76.00,76.04,75.93,,"[2, 7, 3, 13, 1]",,76.07
5,750005,,21.82,21.70,21.79,21.70,21.78,,"[1, 3, 13, 2, 7]",,21.80
6,750006,,47.74,48.79,47.87,48.49,48.06,,"[2, 7, 13, 3, 1]",,48.51
7,750007,,6.80,6.79,6.78,6.81,6.79,,"[7, 1, 13, 2, 3]",,6.80
8,750008,,9.96,10.04,9.96,9.93,9.94,,"[2, 1, 3, 13, 7]",,9.99
9,750009,,205.59,204.33,205.54,204.81,205.30,,"[1, 3, 13, 7, 2]",,205.50
10,750010,,76.17,76.28,75.95,76.65,76.32,,"[7, 13, 2, 1, 3]",,76.44

 weight: [ascending + descending] = [0.55 + 0.45]

        id    Calories
0   750000  27.3498101
1   750001 107.7857249
2   750002  87.4728514
3   750003 126.0390055
4   750004  75.9817124
5   750005  21.7554101
6   750006  48.1576795
7   750007   6.7917710
8   750008   9.9641006
9   750009 205.0737919
10  750010  76.2485023